.footer {
  margin-top: 75px;

  width: 100%;

  background-color: #d9d48c;
}

.footer__container {
  display: grid;

  grid-template-columns: 35% repeat(3, 1fr);
  padding: 50px 130px 10px 130px;
}

.footer__col {
  display: flex;

  flex-direction: column;

  padding-right: 30px;
}

.footer__logo {
  width: 175px;
  height: auto;
  margin-bottom: 20px;
}

.footer__link-item {
  text-decoration: none;

  font-size: 28px;
  font-weight: 700;
  color: #212121;
}

.footer__link-list {
  display: flex;

  flex-direction: column;
  gap: 20px;
}

.footer__link-list-item {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #505050;
}
.footer__link-list-item:link,
.footer__link-list-item:visited {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
}

.footer__contact-item {
  display: flex;

  align-items: center;
  gap: 12px;
  margin-top: 30px;
  text-decoration: none;

  font-size: 28px;
  font-weight: 700;
  color: #212121;
}
.footer__contact-item span {
  font-size: 24px;
  font-weight: 700;

  color: #212121;
  text-decoration: underline;
}

.footer__copyright {
  padding: 50px 0 0 0;
  text-align: center;
  grid-column: 4 span;

  font-size: 16px;
  font-weight: 500;

  color: #515151;
}

@media screen and (hover: hover) {
  .footer__link-list-item:hover {
    cursor: not-allowed;
  }
  .footer__link-list-item:link:hover,
  .footer__link-list-item:visited:hover,
  .footer__link-item:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media screen and (max-width: 1450px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 50px;
  }

  .footer__copyright {
    grid-column: 3 span;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__col:first-child {
    grid-column: 3 span;
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__container {
    padding: 40px 80px 10px 80px;
  }
}

@media screen and (max-width: 950px) {
  .footer__container {
    padding: 30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
  }

  .footer__col:first-child {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .footer__col,
  .footer__link-list {
    align-items: center;
  }
  .footer__link-list-item {
    text-align: center;
  }
}
