.section {
  margin-top: 75px;
}

.section__title {
  font-size: 48px;
  font-weight: 500;

  margin-bottom: 40px;
}

.section__main {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  gap: 24px;
  text-decoration: none;
  color: #212121;
  padding-bottom: 30px;
}

.section__grid-block {
  display: block;
  height: 375px;
  padding: 60px 50px;
  background: rgba(227, 227, 227, 0.5);
  box-shadow: 5px 5px 20px -20px rgba(0, 0, 0, 0.65);
  border-radius: clamp(30px, 5vw, 75px); /* Адаптивный радиус */
  position: relative;
  overflow: hidden;
  z-index: 0;

  transition: 0.25s;
  text-decoration: none;
  color: #212121;
}

.section__grid-block_select {
  background-color: #d9d48c;
}

.section-grid-block__link-arrow {
  transform: rotate(0deg);

  transition: 0.25s;
}

.section__grid-block-header {
  display: flex;
  width: 100%;

  justify-content: space-between;

  align-items: flex-start;
}

.section__grid-block-title {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
}

.section-block__title-small {
  font-size: 28px;
  font-weight: 400;

  margin: 0;
}

.section__grid-block__main {
  margin-top: 25px;
}

.price-block {
  display: flex;
  align-items: center;
  gap: 15px;
}
.price-block__value {
  margin: 0;
  font-size: 64px;
  font-weight: 900;
}

.price-block__description {
  display: flex;
  flex-direction: column;
}

.price-block__description-small-text {
  font-size: 16px;
  font-weight: 500;
}
.price-block__description-medium-text {
  font-size: 26px;
  font-weight: 500;
}

.section-block__img-block {
  position: absolute;

  overflow: hidden;
  bottom: -30px;
  right: -10px;

  transform: rotate(30deg);
}

#chip_svg_block {
  -webkit-mask: url(../img/chip.svg) no-repeat center;
  mask: url(../img/chip.svg) no-repeat center;
}
#au_svg_block {
  -webkit-mask: url(../img/au.svg) no-repeat center;
  mask: url(../img/au.svg) no-repeat center;
  transform: rotate(15deg);
  bottom: -50px;
}
#contract_svg_block {
  -webkit-mask: url(../img/contract.svg) no-repeat center;
  mask: url(../img/contract.svg) no-repeat center;
  transform: rotate(25deg);
  width: 200px;
  height: 200px;
  bottom: -10px;
}

#dye_svg_block {
  -webkit-mask: url(../img/dye.svg) no-repeat center;
  mask: url(../img/dye.svg) no-repeat center;
  width: 150px;
  height: 150px;
  bottom: 10px;
  left: 10%;
}
#welding_svg_block {
  -webkit-mask: url(../img/welding.svg) no-repeat center;
  mask: url(../img/welding.svg) no-repeat center;
  width: 150px;
  height: 150px;
  bottom: 10px;
  left: 40%;
}
#closer_svg_block {
  -webkit-mask: url(../img/closer.svg) no-repeat center;
  mask: url(../img/closer.svg) no-repeat center;
  -webkit-mask-size: contain;
  width: 150px;
  height: 150px;
  right: 10%;
  bottom: 10px;
}

.keys-input__chip-image {
  overflow: hidden;
  width: 300px;
  height: 300px;
  background-color: #808080;
  transform: rotate(15deg);
}

.section-block__img {
  bottom: -35px;
  right: 0;
  position: absolute;

  overflow: hidden;
  background-color: #808080;

  width: 300px;
  height: 300px;

  transition: 0.25s;
}
.section-block__arrow-container {
  display: flex;

  align-items: center;
  gap: 15px;
}
.section-block__arrow-container span {
  font-weight: 500;
  font-size: 20px;
}

#chip_svg {
  width: 350px;
}

#all-services .section__main {
  grid-template-columns: repeat(6, 1fr);
}

#to-zpu-section .section__main {
  grid-template-columns: 2fr 1fr;
}

#add-services-section .section__main {
  grid-template-columns: 1fr;
}

#contracts-section .section__grid-block,
#add-services-section .section__grid-block {
  height: auto;
}

#contracts-section .section__main {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#feedback-section .section-grid-block {
  height: auto;
}

#feedback-section .section__main {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.section-block__footer {
  position: absolute;
  bottom: 25px;
}

.section-block__footer-em {
  font-size: 18px;
  font-style: 400;
}
.section-block__footer-em_medium {
  text-align: justify;
  font-size: 24px;
  font-style: 400;
}

.section-block__footer-em-link {
  color: #212121;
  text-decoration: underline;
  font-weight: 500;
}

#add-services-section .section-grid-block {
  height: auto;
}

.section-block__add-services-container {
  margin-top: -50px;
  margin-bottom: 30px;
  display: flex;

  justify-content: center;
  align-items: end;

  gap: 115px;
}
.section-block__add-service-container {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  gap: 30px;
}
.section-block__add-service-img {
  width: 150px;
  height: auto;
}
.section-block__add-service-title {
  width: 275px;

  font-weight: 500;
  font-size: 28px;
  text-align: center;
}

.section-block-contacts__container {
  display: grid;

  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr;

  gap: 30px;
}

.section-block-contacts__map-container {
  width: 100%;
  height: 100%;
}

.section-block-contacts__info-container {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.section-block-contacts__info-label {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
}
.section-block-contacts__info-label::after {
  content: ":";
}

.section-block-contacts__info-address-large {
  margin: 0;
  font-size: 32px;

  color: #212121;
  font-weight: 500;
}

a.section-block-contacts__info-address-large {
  text-decoration: underline;
}

.section-block-contacts__info-medium {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

.feedback-section__grid-container {
  display: grid;

  grid-template-columns: repeat(15, 1fr);

  gap: 35px;
}
#advantages {
  display: flex;
  padding-right: 40px;

  justify-content: center;
  align-items: center;
}
.advantages__container {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  gap: 90px;
}

.advantages__item-container {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.advantages__img {
  width: auto;
  max-width: 170px;
  max-height: 150px;
  min-height: 100px;
  opacity: 0.75;
}

#all-works-img {
  max-width: 250px;
  max-height: 200px;
  min-height: 100px;
}

.advantages__title {
  text-align: center;
  margin: 0;
  font-size: 40px;

  font-weight: 800;
  line-height: 0.85;

  color: #212121;
}

.advantages__title > span {
  font-size: 28px;
  line-height: 0;
}

.advantages__subtitle {
  text-align: center;
  margin-top: 25px;
  font-size: 28px;

  font-weight: 500;
  color: #212121;
}

.advantages__subtitle_low {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;

  font-weight: 400;
  color: #212121;
}

@media (hover: hover) {
  .section__grid-block._hoverable:hover .section-grid-block__link-arrow {
    transform: rotate(45deg);

    transition: 0.25s;
  }
  .section__grid-block._hoverable:hover {
    cursor: pointer;
    box-shadow: 5px 5px 25px -15px rgba(0, 0, 0, 0.75);
    transform: scale(1.01);

    transition: 0.25s;
  }
  .section__grid-block._hoverable:hover .section-block__img {
    transform: rotate(25deg) scale(1.25);

    transition: 0.25s;
  }
  .section__grid-block._hoverable:hover #au_svg_block {
    transform: rotate(25deg) scale(1.25) translateY(15px);

    transition: 0.25s;
  }
  .section__grid-block._hoverable:hover #contract_svg_block {
    transform: rotate(35deg) scale(1.2) translateY(-10px);

    transition: 0.25s;
  }

  .section__grid-block._hoverable:hover #chip_svg_block {
    background-color: #2433bd;
    transition: 0.25s;
  }
  .section__grid-block._hoverable:hover #au_svg_block,
  .section__grid-block._hoverable:hover #contract_svg_block {
    background-color: #353535;
    transition: 0.25s;
  }
  .section__grid-block._hoverable:active {
    transform: scale(0.99);

    transition: 0.25s;
  }
  .section__grid-block._hoverable:hover #dye_svg_block {
    transform: rotate(-25deg) translateY(-50px) translateX(50px);
    background-color: #212121;
  }
  .section__grid-block._hoverable:hover #welding_svg_block {
    transform: rotate(0deg) translateY(-60px) scale(1.1);
    background-color: #212121;
  }
  .section__grid-block._hoverable:hover #closer_svg_block {
    transform: rotate(25deg) translateY(-50px) translateX(-50px);
    background-color: #212121;
  }
}

@media screen and (max-width: 1450px) {
  .advantages__img {
    max-width: clamp(125px, 14vw, 170px);
    max-height: clamp(105px, 10vw, 150px);
    min-height: clamp(75px, 8vw, 100px);
  }

  #all-works-img {
    max-width: clamp(175px, 18vw, 250px);
    max-height: clamp(150px, 16vw, 200px);
    min-height: clamp(75px, 8vw, 100px);
  }

  .advantages__title {
    font-size: clamp(30px, 2.85vw, 40px);
  }

  .advantages__title > span {
    font-size: clamp(22px, 1.85vw, 28px);
  }

  .advantages__subtitle {
    font-size: clamp(22px, 1.85vw, 28px);
  }

  .advantages__subtitle_low {
    font-size: clamp(16px, 1.35vw, 20px);
  }

  .advantages__container {
    width: clamp(700px, 75vw, 1000px);
    gap: clamp(40px, 5vw, 90px);
  }
  #contract_svg_block {
    width: clamp(125px, 12.5vw, 200px);
    height: clamp(125px, 12.5vw, 200px);
  }
  .section-block__img {
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);
  }
  .br_to {
    display: none;
  }

  .section-block-contacts__container {
    display: grid;

    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr;

    gap: 30px;
  }
  .feedback-section__grid-container {
    display: flex;

    flex-direction: column;

    gap: 35px;
  }
  #feedback-section .section__grid-block {
    padding: 60px clamp(50px, 15vh, 300px);
  }
}

@media screen and (max-width: 1200px) {
  .section__main {
    display: flex;
    flex-direction: column;

    gap: 24px;
  }

  .section__title {
    font-size: clamp(38px, 4vw, 48px);
    margin-bottom: clamp(25px, 2.5vw, 40px);
  }

  #contract_svg_block {
    width: clamp(175px, 25vw, 250px);
    height: clamp(175px, 25vw, 250px);
  }
  .section-block__img {
    width: clamp(250px, 28vw, 350px);
    height: clamp(250px, 28vw, 350px);
  }

  .section-block__add-services-container {
    margin-top: -70px;
    margin-bottom: 20px;

    justify-content: space-around;
    gap: 0;
  }

  .section-block__add-service-container {
    gap: 20px;
  }
  .section-block__add-service-img {
    width: clamp(100px, 12vw, 150px);
  }
  .section-block__add-service-title {
    width: clamp(175px, 20vw, 275px);

    font-weight: 500;
    font-size: clamp(24px, 2.5vw, 28px);
    text-align: center;
  }
  .section-block__footer-em_medium {
    font-size: clamp(20px, 2vw, 24px);
  }

  .section-block-contacts__info-label {
    font-size: clamp(20px, 2vw, 24px);
  }
  .section-block-contacts__info-address-large {
    font-size: clamp(26px, 2.5vw, 32px);
  }

  .section-block-contacts__info-medium {
    font-size: clamp(20px, 2vw, 24px);
  }

  .section-block-contacts__container {
    grid-template-columns: 5fr 6fr;

    gap: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .section-block-contacts__info-label {
    font-size: clamp(20px, 2vw, 24px);
  }
  .section-block-contacts__info-address-large {
    font-size: clamp(26px, 2.5vw, 32px);
  }

  .section-block-contacts__info-medium {
    font-size: clamp(20px, 2vw, 24px);
  }
  .section-block-contacts__info-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  .section-block-contacts__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    gap: 60px;
  }
}

@media screen and (max-width: 950px) {
  .section-block__add-services-container {
    flex-wrap: wrap-reverse;
  }
  .advantages__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: clamp(5px, 3vw, 40px);
  }
  .section__grid-block {
    padding: clamp(45px, 6.75vw, 60px) clamp(35px, 4.25vw, 50px);
  }

  #feedback-section .section__grid-block {
    padding: clamp(45px, 6.75vw, 60px) clamp(35px, 4.25vw, 50px);
  }

  .section-block__add-service-container {
    gap: 10px;
  }

  .price-block__value {
    font-size: clamp(44px, 10vw, 64px);
  }
  .price-block__description-small-text {
    font-size: clamp(12px, 2.75vw, 16px);
  }
  .price-block__description-medium-text {
    font-size: clamp(20px, 4vw, 26px);
  }

  .price-block {
    gap: clamp(8px, 2.5vw, 15px);
  }
}

@media screen and (max-width: 768px) {
  .section-block-contacts__container {
    grid-template-rows: 3fr 4fr;

    gap: 30px;
  }

  .advantages__container {
  }
  #advantages {
    padding: 0;
  }
  .section-block-contacts__info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section-block-contacts__info-label {
    margin-bottom: 5px;
  }
  .section-block__footer {
    padding-right: 30px;
  }

  #dye_svg_block {
    width: 125px;
    height: 125px;
  }
  #welding_svg_block {
    width: 125px;
    height: 125px;
  }
  #closer_svg_block {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 600px) {
  .section-block-contacts__container {
    grid-template-rows: 1fr 1fr;

    gap: 30px;
  }

  #dye_svg_block {
    width: clamp(100px, 25vw, 125px);
    height: clamp(100px, 25vw, 125px);
  }
  #welding_svg_block {
    width: clamp(100px, 25vw, 125px);
    height: clamp(100px, 25vw, 125px);
    bottom: 30%;
  }
  #closer_svg_block {
    width: clamp(100px, 25vw, 125px);
    height: clamp(100px, 25vw, 125px);
  }

  .section-block__add-services-container {
    margin-top: 20px;
    gap: 25px;
  }

  .section-block__add-service-container {
    gap: 0px;
  }

  .section__grid-block {
    height: auto;
    min-height: 375px;
  }
  .price-block {
    margin-bottom: 100px;
  }

  .section__grid-block-title {
    font-size: clamp(26px, 5vw, 34px);
  }

  .section-block__title-small {
    font-size: clamp(20px, 4.25vw, 28px);
  }
  .section__title {
    font-size: clamp(30px, 7vw, 38px);
  }

  #chip_svg_block {
    transform: rotate(38deg);
  }
  #au_svg_block {
    width: 300px;
    height: 300px;
  }

  .section-block-contacts__info-label {
    font-size: clamp(14px, 3.5vw, 20px);
  }
  .section-block-contacts__info-address-large {
    font-size: clamp(18px, 5.15vw, 26px);
  }

  .section-block-contacts__info-medium {
    font-size: clamp(14px, 3.5vw, 20px);
  }

  .feedback-section__grid-container {
    gap: 20px;
  }
}
